.heading{
    width: 100%;
    text-align: center;
}

.heading h3{
    display:inline;

}

.heading button{
    float: right;
    border: 1px solid white;
}

#restart_btn{
    margin-left: 50px;
}

#start_btn{
    margin-right: 50px;
}

#footer{
    position: fixed;
    bottom: 0;
    color: black;
    width: 100%;
    background-color: lightgrey;
    line-height: 3;
    text-align: center;
    
}